<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108205886977-b608n1igic9p2sgv3sgbupm871qtm969.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108205886977-b608n1igic9p2sgv3sgbupm871qtm969</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108205886977-ubt79tmjaot7l44koji4d80vbfqi1eli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAU5ZbaqzvxsukilTAyRp8nPdM2DZB09rM</string>
	<key>GCM_SENDER_ID</key>
	<string>108205886977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splashScreen</string>
	<key>PROJECT_ID</key>
	<string>maaapp-ab769</string>
	<key>STORAGE_BUCKET</key>
	<string>maaapp-ab769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108205886977:ios:60f8708a63604f815dba00</string>
</dict>
</plist>